:root {
  --grey-50: hsl(209, 61%, 16%);
  --grey-100: hsl(211, 39%, 23%);
  --grey-200: hsl(209, 34%, 30%);
  --grey-300: hsl(209, 28%, 39%);
  --grey-400: hsl(210, 22%, 49%);
  --grey-500: hsl(209, 23%, 60%);
  --grey-600: hsl(211, 27%, 70%);
  --grey-700: hsl(210, 31%, 80%);
  --grey-800: hsl(212, 33%, 89%);
  --grey-900: hsl(210, 36%, 96%);

  --blue-50: hsl(205, 100%, 21%);
  --blue-100: hsl(205, 87%, 29%);
  --blue-200: hsl(205, 82%, 33%);
  --blue-300: hsl(205, 76%, 39%);
  --blue-400: hsl(205, 67%, 45%);
  --blue-500: hsl(205, 65%, 55%);
  --blue-600: hsl(205, 74%, 65%);
  --blue-700: hsl(205, 84%, 74%);
  --blue-800: hsl(205, 97%, 85%);
  --blue-900: hsl(205, 79%, 92%);

  --green-50: hsl(170, 97%, 15%);
  --green-100: hsl(168, 80%, 23%);
  --green-200: hsl(166, 72%, 28%);
  --green-300: hsl(164, 71%, 34%);
  --green-400: hsl(162, 63%, 41%);
  --green-500: hsl(160, 51%, 49%);
  --green-600: hsl(158, 58%, 62%);
  --green-700: hsl(156, 73%, 74%);
  --green-800: hsl(154, 75%, 87%);
  --green-900: hsl(152, 68%, 96%);

  --magenta-50: hsl(308, 91%, 23%);
  --magenta-100: hsl(306, 90%, 31%);
  --magenta-200: hsl(306, 88%, 37%);
  --magenta-300: hsl(306, 85%, 43%);
  --magenta-400: hsl(305, 80%, 49%);
  --magenta-500: hsl(300, 82%, 60%);
  --magenta-600: hsl(296, 96%, 70%);
  --magenta-700: hsl(294, 100%, 78%);
  --magenta-800: hsl(294, 97%, 88%);
  --magenta-900: hsl(294, 100%, 96%);

  --orange-50: hsl(6, 96%, 26%);
  --orange-100: hsl(8, 92%, 35%);
  --orange-200: hsl(10, 93%, 40%);
  --orange-300: hsl(12, 86%, 47%);
  --orange-400: hsl(14, 89%, 55%);
  --orange-500: hsl(16, 94%, 61%);
  --orange-600: hsl(18, 100%, 70%);
  --orange-700: hsl(20, 100%, 77%);
  --orange-800: hsl(22, 100%, 85%);
  --orange-900: hsl(24, 100%, 93%);

  --red-50: hsl(348, 94%, 20%);
  --red-100: hsl(350, 94%, 28%);
  --red-200: hsl(352, 90%, 35%);
  --red-300: hsl(354, 85%, 44%);
  --red-400: hsl(356, 75%, 53%);
  --red-500: hsl(360, 83%, 62%);
  --red-600: hsl(360, 91%, 69%);
  --red-700: hsl(360, 100%, 80%);
  --red-800: hsl(360, 100%, 87%);
  --red-900: hsl(360, 100%, 95%);

  --violet-50: hsl(276, 91%, 23%);
  --violet-100: hsl(274, 87%, 31%);
  --violet-200: hsl(274, 87%, 37%);
  --violet-300: hsl(274, 87%, 43%);
  --violet-400: hsl(273, 80%, 49%);
  --violet-500: hsl(268, 82%, 60%);
  --violet-600: hsl(264, 96%, 70%);
  --violet-700: hsl(262, 100%, 78%);
  --violet-800: hsl(262, 100%, 88%);
  --violet-900: hsl(262, 90%, 96%);

  --yellow-50: hsl(15, 86%, 30%);
  --yellow-100: hsl(22, 82%, 39%);
  --yellow-200: hsl(29, 80%, 44%);
  --yellow-300: hsl(36, 77%, 49%);
  --yellow-400: hsl(42, 87%, 55%);
  --yellow-500: hsl(44, 92%, 63%);
  --yellow-600: hsl(48, 94%, 68%);
  --yellow-700: hsl(48, 95%, 76%);
  --yellow-800: hsl(48, 100%, 88%);
  --yellow-900: hsl(49, 100%, 96%);

  --transition: all 0.2s ease-in-out;
}

pre {
  color: var(--grey-800);
  padding: 16px;
  margin-bottom: 0;
}

pre code .script {
  color: var(--grey-800);
}

pre code .operator,
pre code .punctuation {
  color: var(--grey-700);
}

pre code .comment {
  color: var(--grey-500);
  font-style: italic;
}

pre code .string,
pre code .attr-value {
  color: var(--green-600);
}

pre code .class-name,
pre code .function {
  color: var(--magenta-700);
}

pre code .tag {
  color: var(--orange-700);
}

pre code .keyword {
  color: var(--violet-700);
}

pre code .boolean,
pre code .number,
pre code .attr-name {
  color: var(--yellow-600);
}

.gatsby-highlight {
  background-color: var(--grey-50);
  border-radius: 8px;
  overflow-y: auto;
  margin-bottom: 32px;
}

.gatsby-highlight-code-line {
  display: block;
  background-color: var(--grey-100);
  margin: 0 -16px;
  padding-left: 10px;
  border-left: 6px solid var(--magenta-700);
  border-right: 16px solid var(--grey-50);
}

body.theme-light {
  background-color: var(--grey-900);
  color: var(--grey-50);
  transition: var(--transition);
}

body.theme-dark {
  background-color: var(--grey-100);
  color: var(--grey-900);
  transition: var(--transition);
}

a {
  text-shadow: none;
  color: var(--grey-200);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1px,
    var(--grey-200) 1px,
    var(--grey-200) 2px,
    rgba(0, 0, 0, 0) 2px
  );
  transition: var(--transition);
}

body.theme-dark a {
  color: var(--grey-700);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1px,
    var(--grey-700) 1px,
    var(--grey-700) 2px,
    rgba(0, 0, 0, 0) 2px
  );
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--grey-50);
  transition: var(--transition);
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5,
body.theme-dark h6 {
  color: var(--grey-900);
  transition: var(--transition);
}

blockquote {
  border-left-color: var(--grey-200);
  transition: var(--transition);
}

body.theme-dark blockquote {
  border-left-color: var(--grey-700);
  transition: var(--transition);
}

blockquote p {
  color: var(--grey-200);
  transition: var(--transition);
}

body.theme-dark blockquote p {
  color: var(--grey-700);
  transition: var(--transition);
}

#clock {
  color: var(--grey-50);
}

.clock-background {
  fill: var(--grey-500);
}

.clock-sun-moon {
  fill: var(--yellow-400);
}
